body {
    background-image: url(/static/images/backdrop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f4f4f4
}

.set-login {
    text-align: center;
}

.btn {
    background-color: #f4f4f4;
    margin: 20px 10px 20px 10px;
}

th {
    width: 150px;
}

td {
    width: 150px;
}

.footer {
    margin-top: 20px;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}
