{% extends "base.html" %} {% block content %}

<div class="row">
    <div class="col-sm-12">
        <h2>Leaderboard</h2>
        <br>

        <table>
            <tr>
                <th>User</th>
                <th>Correct Answers</th>
                <th>incorrect Answers</th>
            </tr>
            {% for key in leader_list %}
            <tr>
                <td>{{ key.user }}</td>
                <td>{{ key.correct }}</td>
                <td>{{ key.incorrect }}</td>
            </tr>
            {% endfor %}
        </table>

    </div>
</div>



{% endblock %}
