{% extends "base.html" %} {% block content %}

<h1>Riddles Pages - you are logged in as {{ username }}</h1>

<div class="container riddle">
    <div class="row">
        {{ data.riddle }}
    </div>
    <div class="row user-answer">
        <form method="POST">
            <textarea cols="50" rows="4" name="answer" , id="answer"></textarea>
            <br>
            <button onclick="checkAnwser('{{ data.answer }}')">Submit Answer</button>
        </form>
    </div>
    <div class="row answer-hide">
        {{ data.answer }}
    </div>
    <br>
</div>

<script>
    var correct = 0;
    var incorrect = 0;
    function checkAnwser(riddle_answer) {
        var user_answer = document.getElementById('answer').value
        if (user_answer == riddle_answer) {
            return "<h4>Correct</h4>"
            correct =+ 1
        }
        else {
            return "<h4>incorrect</h4>"
            incorrect =+ 0
        };
    }
</script>

<a href="{{ url_for('leaderboard') }}">Leaderboard</a>
<a href="{{ url_for('settings') }}">Settings</a> {% endblock %}
