{% extends "base.html" %} {% block content %}

<div class="row">
    <div class="col-sm-12">
        <h2>Here is one of your riddles {{ username }}</h2>

        <div class="riddle">
            <div class="row new-riddle">
                {{ SelectRiddle }}
            </div>
            <div class="row user_answer">
                <form method="POST">
                    <textarea cols="50" rows="4" name="user_input" , id="user_input"></textarea>
                    <br>
                    <button class="btn submit-answer">Submit Answer</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="section hints">
    <div class="col-sm-12">
        <div class="row answer">
            <button class="btn btn-sm btn-answer">Need the answer? Click here.</button>
        </div>
        <div class="row riddle-answer hidden">
            {{ systemAnswer }}
        </div>
    </div>
</div>

<div class="section score">
    <div class="col-sm-12">
        <div class="row score">
            <h5>{{ score }}</h5> 
        </div>
    </div>
</div>


{% endblock %}
